.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-5aarfo-HNWD2);
  font-family: var(--token-yiHEI5FyjMUa);
  font-size: var(--token-JpIpK30Qrs7z);
  line-height: var(--token--QYqjyLdttqL);
  outline-style: none;
  border-radius: var(--token-Gf8fOfjiK1-w);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-ESJiU-usBoVi);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-gzqUZ_fE3psQ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-RfYuNmAx66RP);
  outline-color: var(--token-d3ur2Nkr-hvv);
  outline-offset: 1px;
}
.freeBox__voYXj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-tJqSlCzZQ4C8) var(--token-JrL0j4Ml8sij);
}
.freeBox__voYXj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-RfYuNmAx66RP));
  height: calc(100% + var(--token-RfYuNmAx66RP));
}
.freeBox__voYXj > :global(.__wab_flex-container) > *,
.freeBox__voYXj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__voYXj > :global(.__wab_flex-container) > picture > img,
.freeBox__voYXj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-RfYuNmAx66RP);
}
.freeBox__yoeXm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__nPb6O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-x979447EKwxN);
  min-width: 0;
}
