.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-52pVO-W8xeuv);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-dLtNsvxq5Av7);
  width: var(--token-dLtNsvxq5Av7);
  border-radius: 99px;
  border: 1px solid var(--token-d3ur2Nkr-hvv);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-d3ur2Nkr-hvv);
  outline-offset: 1px;
}
